# Ignore everything in the project root except specific files and directories

# Ignore all files in the root directory
/*

# But do not ignore these specific files and directories
!.gitignore
!package.json
!package-lock.json
!tsconfig.json
!README.md
!public/
!tailwind.config.json
!next.config.json
!app/
!jsconfig.json
!postcss.config.js
!components
!eslintric.json